# exclude everything
/*

# include directory /src and /inc
!/src/*
!/inc/*

# include directory /extern/glad and  /extern/glfw
!/extern/glad/*
!/extern/glfw/*

# include directory shaders
!/shaders/*.glsl

# include project file
!/viewer/*.sln
!/viewer/*.vcxproj
!/viewer/*.vcxproj.filters

# include .gitignore
!/.gitignore
